body {
     background-image:
    linear-gradient(rgba(5, 193, 218), rgba(255, 0, 174, 0.623));
}

.h{
    color:rgb(17, 44, 67);
    font-family: 'Times New Roman', Times, serif;
    font-weight:1000;
    font-size: xx-large;
}

#main{

    max-width: fit-content;
    margin: auto;

}

img{
    scale:.4
    style="width:50px;height:60px";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center /*Centers images */
}