body {
    background-color: rgb(243, 84, 84);

}

.h{
    color:rgb(17, 44, 67);
    font-family: 'Times New Roman', Times, serif;
    font-weight:1000;
    font-size: xx-large;
}

#main{

    max-width: fit-content;
    margin: auto;

}

img{
    scale:.4
    style="width:50px;height:60px";
}

.center {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center /*Centers images */
}