body {
    background-color: rgb(196, 196, 143);

}

.h{
    color:rgb(17, 44, 67);
    font-family: 'Times New Roman', Times, serif;
    font-weight:1000;
    font-size: xx-large;
}

#main{

    max-width: fit-content;
    margin: auto;

}

img{
    scale:.3
    style="width:50px;height:60px";
}

.center {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center /*Centers images */
}

h0{
    font-size:100vw
}

.scroll-box {
    height: 90px;        /* controls how tall the box is */
    width: 300px;         /* optional */
    overflow-x: hidden;   /* prevents sideways scroll */
    border: 1px solid black;
    padding: 1px;
    margin: 0 auto;  
    background-color: #ebd9d9a8;
 

}



.container {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.counter {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 5px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}

.clicks {
    font-size: 1.1em;
    margin-top: 10px;
}