

.h{
    color:rgb(17, 44, 67);
    font-family: 'Consolas', Times, serif;
    font-weight:1000;
    font-size: xx-large;
}

#main{

    max-width: fit-content;
    margin: auto;

}

img{
    scale:.3
    style="width:50px;height:60px";
}

.center {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center /*Centers images */
}

h0{
    font-size:20vw
}